@import '../GNB.module.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: $nav-width;
  background-color: #c0c0c0;
  row-gap: 16px;
  @include transition(width);
}

@media screen and (max-width: $nav-max-width) {
  .container {
    align-items: center;
    width: $nav-width-reactive;
  }
}
