@import '../../Select.module.scss';

.option-group {
  overflow: hidden !important;
  padding: 12px 0;
  transform: translateY(12px);
  .list-contents {
    height: 200px;
    overflow: hidden scroll;
    @include scrollbar();
  }
}
