@import '../../Select.module.scss';

.single-box {
  position: relative;
  display: flex;
  align-items: center;

  .icon {
    color: $light-900;
    transform: rotate(0);

    @include transition(transform);
    @include icon-director();
    &.show {
      transform: rotate(-180deg);
    }
  }

  @include box();
}
