@import '../../Select.module.scss';

.select-chip {
  &.lg {
    height: 30px;
  }
  &.md {
    height: 26px;
  }
  &.sm {
    height: 24px;
  }
  &.xs {
    height: 20px;
  }
}

.multi-box {
  display: grid;
  grid-template-columns: 1fr 0.05fr;
  position: relative;
  @include box();
  
  .contents {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    gap: 8px;
  }

  .icon {
    color: $light-900;
    transform: rotate(0);
    @include icon-director();
    @include transition(all);
    &.show {
      transform: rotate(-180deg);
    }
  }
}
