.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  overflow-y: scroll;
  height: 700px;
  padding: 8px;
  margin-top: 2px;
  outline: 1px solid skyblue;
  & > div {
    width: 100px;
    display: grid;
    aspect-ratio: 1;
    place-content: center;
    outline: 1px solid white;
  }
}