.container {
  display: flex;
  height: 700px;
  justify-content: center;
  outline: 1px solid skyblue;
}

.list {
  top: 4px;
  & > div {
    display: flex;
    gap: 24px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 10px;
  border: 1px solid green;
}